<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="brand-container">
      <div class="desktop-toggler">
        <button
          type="button"
          class="menu-toggler"
          data-toggle-class="app-sidebar-collapsed"
          data-dismiss-class="app-sidebar-toggled"
          data-toggle-target=""
          (click)="toogleSideBar()"
        >
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
      </div>
      <a class="navbar-brand" href="#">
        <img src="assets/kpi_logo.png" />
      </a>
    </div>
    <div class="menu">
      <div class="menu-item">
        <a href="#" class="nav-link"><i class="bi bi-search"></i> </a>
      </div>
      <div class="menu-item dropdown">
        <a
          class="nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          ><i class="bi bi-bell"></i
        ></a>
        <div class="dropdown-menu dropdown-menu-end mt-1 w-300px fs-11px pt-1">
          <h6 class="dropdown-header fs-10px mb-1">NOTIFICATIONS</h6>
          <div class="dropdown-divider mt-1"></div>
          <a
            href="#"
            class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold"
          >
            <div class="fs-20px">
              <i class="bi bi-bag text-theme"></i>
            </div>
            <div class="flex-1 flex-wrap ps-3">
              <div class="mb-1 text-inverse">NEW ORDER RECEIVED ($1,299)</div>
              <div class="small text-inverse text-opacity-50">JUST NOW</div>
            </div>
          </a>
          <a
            href="#"
            class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold"
          >
            <div class="fs-20px w-20px">
              <i class="bi bi-person-circle text-theme"></i>
            </div>
            <div class="flex-1 flex-wrap ps-3">
              <div class="mb-1 text-inverse">3 NEW ACCOUNT CREATED</div>
              <div class="small text-inverse text-opacity-50">
                2 MINUTES AGO
              </div>
            </div>
          </a>
          <a
            href="#"
            class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold"
          >
            <div class="fs-20px w-20px">
              <i class="bi bi-gear text-theme"></i>
            </div>
            <div class="flex-1 flex-wrap ps-3">
              <div class="mb-1 text-inverse">SETUP COMPLETED</div>
              <div class="small text-inverse text-opacity-50">
                3 MINUTES AGO
              </div>
            </div>
          </a>
          <a
            href="#"
            class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold"
          >
            <div class="fs-20px w-20px">
              <i class="bi bi-grid text-theme"></i>
            </div>
            <div class="flex-1 flex-wrap ps-3">
              <div class="mb-1 text-inverse">WIDGET INSTALLATION DONE</div>
              <div class="small text-inverse text-opacity-50">
                5 MINUTES AGO
              </div>
            </div>
          </a>
          <a
            href="#"
            class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold"
          >
            <div class="fs-20px w-20px">
              <i class="bi bi-credit-card text-theme"></i>
            </div>
            <div class="flex-1 flex-wrap ps-3">
              <div class="mb-1 text-inverse">PAYMENT METHOD ENABLED</div>
              <div class="small text-inverse text-opacity-50">
                10 MINUTES AGO
              </div>
            </div>
          </a>
          <hr class="my-0" />
          <div class="py-10px mb-n2 text-center">
            <a href="#" class="text-decoration-none text-white fw-bold"
              >SEE ALL</a
            >
          </div>
        </div>
      </div>
      <div class="menu-item">
        <a href="#" class="nav-link"><i class="bi bi-grid-3x3-gap"></i></a>
      </div>
      <div class="menu-item">
        <a href="#" class="nav-link"><i class="bi bi-gear"></i></a>
      </div>
      <div class="dropdown menu-item">
        <a
          class="nav-link"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img class="user-img" src="assets/girl.png" />
        </a>
        <div
          class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1"
          data-bs-popper="static"
        >
          <a class="dropdown-item d-flex align-items-center" href="profile.html"
            >PROFILE
            <i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i
          ></a>
          <a
            class="dropdown-item d-flex align-items-center"
            href="email_inbox.html"
            >INBOX
            <i class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i
          ></a>
          <a
            class="dropdown-item d-flex align-items-center"
            href="calendar.html"
            >CALENDAR
            <i class="bi bi-calendar ms-auto text-theme fs-16px my-n1"></i
          ></a>
          <a
            class="dropdown-item d-flex align-items-center"
            href="settings.html"
            >SETTINGS <i class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i
          ></a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item d-flex align-items-center"
            href="page_login.html"
            >LOGOUT
            <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</nav>
