<app-navbar (sideNavtoggled)="isMenuCollapsed = $event"></app-navbar>
<app-side-bar [isMenuCollapsed]="isMenuCollapsed"></app-side-bar>
<div class="app-content" [class.toggled]="isMenuCollapsed">
  <div class="container-fluid">
    <div class="list-view-container">
      <app-filter-options></app-filter-options>
      <div class="card-container">
        <div class="table-container">
          <div class="table-header d-flex justify-content-between">
            <h2>Goal List</h2>
            <div class="input-group">
              <span class="input-group-text material-icons" id="basic-addon1"
                >search</span
              >
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="basic-addon1"
                (keyup)="applyFilter($event)"
              />
            </div>
            <div class="table-actions">
              <span
                class="material-icons"
                matTooltip="Filter Columns"
                (click)="openFilterColumns()"
                >filter_list</span
              >
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                matTooltip="Actions"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>import</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Exports</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <app-table
            #TableRef
            [data]="tableRows"
            [tableColumns]="displayedColumns"
          ></app-table>
        </div>
        <div class="card-arrow">
          <div class="card-arrow-top-left"></div>
          <div class="card-arrow-top-right"></div>
          <div class="card-arrow-bottom-left"></div>
          <div class="card-arrow-bottom-right"></div>
        </div>
      </div>
    </div>
  </div>
</div>
