<div class="example-button-row d-flex">
  <div class="dropdown" *ngFor="let item of filterOptionsList">
    <button
      class="m-2 dropdown-button"
      [class.selected]="item.selected"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      mat-button
    >
      <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
      <span>{{ updateDropdownTitle(item) }}</span>
    </button>
    <ul class="dropdown-menu">
      <mat-checkbox
        class="example-margin"
        [color]="checkBoxColor"
        [checked]="allComplete"
        [indeterminate]="someComplete(item)"
        (change)="setAll($event.checked, item)"
      >
        Select All
      </mat-checkbox>
      <div class="input-group mb-3">
        <span class="input-group-text material-icons" id="basic-addon1"
          >search</span
        >
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="basic-addon1"
        />
      </div>
      <ul class="options-list">
        <li *ngFor="let option of item.dataList">
          <mat-checkbox
            [(ngModel)]="option.checked"
            (ngModelChange)="updateAllComplete(item)"
            [color]="checkBoxColor"
            >{{ option.optionName }}</mat-checkbox
          >
        </li>
      </ul>
      <hr />
      <div class="button-container d-flex">
        <button>Reset</button>
        <button>Apply</button>
      </div>
    </ul>
  </div>
</div>
